<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(app_name: 'chrch.us', separator: ' | ') %></title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application' %>
    <%= yield(:head_tags) if content_for?(:head_tags) %>
  </head>

  <body class="<%= body_class %>">
    <% if(content_for?(:application_header)) %>
      <header id="application-header">
        <%= yield(:application_header) %>
      </header>
    <% end %>
    <main id="application-body">
      <%= yield %>
    </main>
    <% if(content_for?(:application_footer)) %>
      <footer id="application-footer">
        <%= yield(:application_footer) %>
      </footer>
    <% end %>
  </body>
</html>
