<!DOCTYPE html>
<html>
  <head>
    <title>chrch.us</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if(content_for?(:application_header)) %>
      <header id="application-header">
        <%= yield(:application_header) %>
      </header>
    <% end %>
    <main id="application-body">
      <%= yield %>
    </main>
    <% if(content_for?(:application_footer)) %>
      <footer id="application-footer">
        <%= yield(:application_footer) %>
      </footer>
    <% end %>
  </body>
</html>
